services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pixora
    volumes:
      - ./postgres-data:/var/lib/postgresql
    ports:
      - 5432:5432
